.titlePanel {
    min-height: 3.5rem;
    margin-block-end: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsl(0, 0%, 0%, 0.3);
}

.titlePanel > button {
    height: min-content;
}

.titlePanel > * {
    margin-inline: 1rem;
}
